<header class="site-header">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- TODO : 消除上方的空白-->
    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">Syuan Tsai 的網路筆記</a>
        <!-- TODO : 設計index的頁面-->
        <!-- TODO : 新增歸於我的畫面-->
    </div>
</header>