<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                area 1
                <!-- Content for the first area -->
            </div>
            <div class="footer-col">
                area 2
                <!-- Content for the second area -->
            </div>
            <div class="footer-col">
                area 3
                <!-- Content for the third area -->
            </div>
        </div>
        <div class="social-links">
            {%- include social.html -%}
        </div>
    </div>
</footer>