<footer class="site-footer h-card">
    <data class="u-url" href="{{ "
    /" | relative_url }}"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <!--TODO : 說明資料來源於網路，有錯誤請寄信到XXXX@mial-->
            </div>
            <!-- 再_config.yml開啟license的設定-->
            {% if site.license.enable %}
            <div class="footer-col">
                <blockquote class="CC-license">
                    <p>
                        <b>{{site.lang}}</b>>
                        <b>{{page.lang}}</b>>
                        <b>{{ site.data.ccLicense[page.lang | default: site.lang].author | append: __.symbol.colon }}</b> {{site.author}} <br>
                        <b>{{ site.data.ccLicense[page.lang | default: site.lang].link | append: __.symbol.colon }}</b>
                        <a href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.url | absolute_url }}</a><br>
                    </p>
                </blockquote>
            </div>
            {% endif %}
        </div>
        <div class="social-links">
            {%- include social.html -%}
        </div>
    </div>
</footer>