<footer class="site-footer h-card">
    <data class="u-url" href="{{ "
    /" | relative_url }}"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <!--TODO : 說明資料來源於網路，有錯誤請寄信到XXXX@mial-->
            </div>
            <div class="footer-col">
                <!--TODO : 還不確定-->
            </div>
            <div class="footer-col">
                <!--TODO : 還不確定-->
            </div>
        </div>
        <div class="social-links">
            {%- include social.html -%}
        </div>
    </div>
</footer>