<!-- 模組化設計 -->
<!-- 此頁面的職責掌管整個網頁內容的「層次」 -->
<!-- 「層次」指的是網頁的結構，例如：header, body, footer, sidebar...等等-->

<!--Modular Design-->
<!--This page is responsible for managing the 'layout' of the whole web content.-->
<!--'layout' refers to the structure of the webpage, e.g. header, body, footer, sidebar... etc-->

<!--Specifies the language file used by the page-->
{% assign __ = site.data.lang[site.lang] %}

<!-- Debug Data -->
{% if site.debug_tags["_layouts/layout"] %}
<div> Debug site.lang: {{ site.lang | inspect }}</div>
<div> Debug site.data.lang: {{ site.data.lang | inspect }}</div>
{% endif %}